<h1>Hello from comments index route</h1>

{{!-- <main>


    <h2>Handmade, Fresh, Daily!</h2>

        {{#each donuts}}
            <div class="donut-container">

                <img src={{this.img}} alt={{this.name}} width='200'>

                <h3> <a href="#">{{this.name}}</a></h3>

                <p>$ {{this.price}} </p>

            </div>
        
        {{/each}}

</main>
<img src="" alt="">


//or this one

<h1> You have {{ todos.length }} Todos </h1>
{{ name }}
<a href="/todos/new">+ Add Todo</a>
<ul>
  {{#each todos}}
    <li>Description: {{description}}</li>
    <li>Urgent: {{urgent}}</li>
    <li><a href="/todos/{{@index}}">Go To Todo Page</a></li>
    <form action="/todos/{{@index}}?_method=DELETE" method="POST">
      <button type="submit">
        Delete Todo
      </button>
    </form>
    <br>
  
  {{/each}}
</ul> --}}
